h1 {
    text-align: center;
}

body {
    background-image: url("seamless.jpg");
    background-repeat: repeat;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 100px minmax(300px, auto) minmax(200px, auto) minmax(50px, auto);
    grid-template-areas: "header header header" "sidebarLeft main sidebarRight" ". main sidebarRight" "footer footer footer";
}

header {
    grid-area: header;
    background-color: whitesmoke;
    margin: 1rem;
    color: rgba(163, 117, 161, 0.808);
}

#aside1 {
    grid-area: sidebarLeft;
    background-color: whitesmoke;
    text-align: center;
    margin-right: 1rem;
}

#aside2 {
    grid-area: sidebarRight;
    background-color: whitesmoke;
    text-align: center;
    margin-left: 1rem;
}

main {
    grid-area: main;
    background-color: whitesmoke;
    padding: 1rem;
}

footer {
    grid-area: footer;
    text-align: center;
}

main h2 {
    color: rgba(163, 117, 161, 0.808);
    text-align: center;
}

#rice {
    height: 400px;
    float: right;
}

#burger {
    height: 400px;
    float: right;
}

#oatmeal {
    height: 400px;
    float: right;
}