h1 {
    text-align: center;
}

body {
    background-color: rgb(255, 240, 254);
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 200px minmax(400px, auto) minmax(50px, auto)auto;
    grid-template-areas: "header header" "main sidebar" "main ." "footer footer";
}

header {
    grid-area: header;
}

aside {
    grid-area: sidebar;
    background-color: rgb(253, 228, 252);
}

aside h3 {
    text-align: center;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 50% 50%;
}

footer {
    grid-area: footer;
    background-color: rgb(253, 253, 253);
}

footer h6 {
    color: rgb(224, 168, 224);
    text-align: center;
}

#gliter {
    height: 200px;
    position: absolute;
    right: 0px;
    top: 0px;
}

#strawberry {
    height: 200px;
    position: absolute;
    left: 0px;
    top: 0px;
}

#english {
    text-align: center;
}

#russian {
    text-align: center;
}