body {
  text-align: center;
  background-image: url("assets/hires-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: white;
}
p {
  padding-left: 5rem;
  padding-right: 5rem;
  font-size: larger;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

h1 {
  text-transform: uppercase;
}
