body {
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  color: white;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}
h4 {
  text-align: center;
  text-transform: uppercase;
}
