body {
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);

  color: white;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}
h4 {
  text-align: center;
  text-transform: uppercase;
}
p {
  text-align: center;
  text-transform: uppercase;
}
