body{
    background-color: #ffe7ec;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

img{
    width: auto;
    height: 300px;
}


h1{
    color: rgb(98, 197, 236);
}
h3{
    color: rgb(185, 90, 165);
}
p{
    color:#6d081e ;
}

a {
    background-color: #b27ee2; 
    border-color: #000000;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    color: rgb(255, 233, 250);
    padding: 7px 7px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 16px;
  }

  a:active{
    background-color: #95ecb2; 
  }

  .memes{
      display: flex;
      flex-wrap: wrap;
      
  }
.memes div{
    padding: 30px;
}